.uniCard{
    .cardBody{
        @include center-flex(column);
        align-items: flex-start;
    }
}


@mixin activity-badge{
    color: map-get($map: $colors, $key: 'primary');
    font-weight: 400;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 10px;
    margin: 13px 0px;
    border-radius: 14px;
    text-align: center;
}

.statusActiveColor{
        background-color: map-get($map: $bg-colors, $key: 'success');
        @include activity-badge;

}

.statusInactiveColor{
        background-color: map-get($map: $bg-colors, $key: 'error');
        @include activity-badge;

}