@import './cards';

.teamsHeaderText{
    .uniLink{
        margin: 4px 10px;
    }
    .uniCountry{
        margin: 4px 10px;
    }
}

.cardsContainer{
    @include center-grid;
    grid-template-columns: repeat(auto-fill, 300px);
    margin: $base-margin * 2 $base-margin;
    .uniCard{
        box-sizing: border-box;
        margin: $base-margin;
    }
}