@import './cards';
.teamsHeaderContent{
    .teamsHeaderTitle{
        text-align: center;
    }
    .teamsHeaderText{
        @include center-flex('row');
        .uniLink{
            margin: 4px 10px;
            display: flex;
            align-items: center;
        }
    }
}


.uniDesc{
    background-color: darken(map-get($map: $bg-colors, $key: 'secondary'), 10%);
    height: 11rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: $base-padding * 2 $base-padding * 4;
    .uniDescTitle{
        font-size: 23px;
        font-weight: 500;
    }
    .uniDescBody{
        font-size: 15px;
        text-align: justify;
        margin-bottom: $base-margin;
    }
    @include s{
        height: 8rem;
        padding: $base-padding * 2 $base-padding * 9;
        .uniDescTitle{
            font-size: 25px;
        }
    }
    @include m{
        padding: $base-padding * 2 $base-padding * 8;
        .uniDescTitle{
            font-size: 29px;
        }
    }
    @include l{
        padding: $base-padding * 2 $base-padding * 10;
        .uniDescTitle{
            font-size: 32px;
        }
    }
}

.cardsContainer{
    @include center-grid;
    grid-template-columns: repeat(auto-fill, 400px);
    padding: $base-padding * 6 $base-padding;
    background-color: map-get($map: $bg-colors, $key: 'secondary');
    .uniCard{
        box-sizing: border-box;
        margin: $base-margin;
        padding: $base-padding * 2 $base-padding;
        width: 375px;
        transition: 400ms all ease;
        &:hover{
            transform: scale(1.05);
        }
        .cardHeader{
            padding: $base-padding * 2;
            .cardGender{
                display: flex;
                padding: 5px 0px;
                & > svg:nth-child(1){
                    font-size: 25px;
                }
                #genderText{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-weight: 500;
                    font-size: 15px;
                }
                
            }
            & > div:nth-child(1){
                & > div{
                    font-size: 22px;
                    height: 55px;
                    width: 55px;
                }
            }
            & > div:nth-child(2){
                & > span:nth-child(1){
                    font-size: 17px;
                    font-weight: 400;
                }
            }
        }
        .cardBody{
            padding: $base-padding * 2;
            .cardEmail{
                @include center-flex('column');
            }
        }
    }
}