@import './cards';

.teamsHeaderText{
    .uniLink{
        margin: 4px 10px;
    }
    .uniCountry{
        margin: 4px 10px;
    }
}

.uniDesc{
    background-color: map-get($map: $bg-colors, $key: 'secondary');
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: $base-padding * 2 $base-padding * 4;
    .uniDescTitle{
        font-size: 20px;
        font-weight: 500;
    }
    .uniDescBody{
        font-size: 15px;
        text-align: justify;
        margin-bottom: $base-margin;
    }
}

.cardsContainer{
    @include center-grid;
    grid-template-columns: repeat(auto-fill, 300px);
    padding: $base-padding * 2 $base-padding;
    background-color: map-get($map: $bg-colors, $key: 'secondary');
    .uniCard{
        box-sizing: border-box;
        margin: $base-margin;
    }
}