.searchSection{
    background-color: map-get($map: $bg-colors, $key: 'secondary');
    height: 15rem;
    box-sizing: border-box;
    padding: $base-padding $base-padding * 5;
    @include center-flex(column);
    justify-content: space-around;
    align-items: flex-start;
    .searchTitle{
        font-size: 22px;
        font-weight: 400;
    }
    .searchDescription{
        font-size: $base-fontsize;
    }
    .globalSearch{
        margin: 0;
        .searchInput{
            margin: 0;
            border-radius: 27px;
            padding: 0 $base-padding;
        }
    }
    @include s{
        padding: $base-padding $base-padding * 6;
    }
    @include m{
        padding: $base-padding $base-padding * 7;
        .searchLabel{
            font-size: 20px;
        }
    }
}