@mixin center-flex($direction){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin center-grid{
    display: grid;
    justify-content: center;
    align-items: center;
}

@mixin padding($type){
    padding: map-get($paddings, "#{$type}");
}

@mixin margin($type){
    margin: map-get($margins, "#{$type}");
}