$bg-colors:(
    'primary': rgb(31, 58, 147),
    'secondary': rgba(236, 236, 234, 0.695),
    'third': rgb(255, 69, 0),
    'success': rgb(23, 145, 23),
    'error': rgba(219, 37, 37, 0.841)
);

$colors:(
    'primary': rgb(255, 255, 255),
    'secondary': rgb(28, 37, 48),
    'third': rgb(255, 69, 0),
    'navy': rgb(31, 58, 147),
    'success': rgb(6, 141, 6),
    'error': rgba(202, 56, 56, 0.841)
);

$base-padding: 8px;
$paddings: (
    'sm': $base-padding * 1.5,
    'm': $base-padding * 2,
    'l': $base-padding * 3,
);

$base-margin: 8px;
$margins: (
    'sm': $base-margin * 1.5,
    'm': $base-margin * 2,
    'l': $base-margin * 3,
);

$base-fontsize: 15px;