.loader {
  height: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader > span {
  display: inline-block;
  background-color: rgba(128, 128, 128, 0.53);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 0px 3px;
  -webkit-transform: translate3d(0);
          transform: translate3d(0);
  -webkit-animation: bounce 1s infinite alternate;
          animation: bounce 1s infinite alternate;
}

@-webkit-keyframes bounce {
  to {
    height: 13px;
    width: 13px;
    -webkit-transform: translate3d(0, -16px, 0);
            transform: translate3d(0, -16px, 0);
  }
}

@keyframes bounce {
  to {
    height: 13px;
    width: 13px;
    -webkit-transform: translate3d(0, -16px, 0);
            transform: translate3d(0, -16px, 0);
  }
}

.loader > span:nth-child(2) {
  background-color: #1f3a93;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader > span:nth-child(3) {
  background-color: orangered;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.teamsNavbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 4rem;
  background-color: rgba(236, 236, 234, 0.695);
}

.teamsNavbar .navHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.teamsNavbar .navHead .navMenu {
  margin: 8px;
  padding: 8px;
  font-size: 34.5px;
  color: orangered;
  cursor: pointer;
}

.teamsNavbar .navHead .navTitle {
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
      grid-template-areas: "teams task" "T task";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 8px;
}

.teamsNavbar .navHead .navTitle #navMainTitle1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: teams;
  font-size: 18px;
  margin: 0;
  height: 2vh;
  color: #1c2530;
}

.teamsNavbar .navHead .navTitle #navMainTitle2 {
  margin: 0;
  margin-left: 4.8px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: task;
  font-size: 37.5px;
  height: 4vh;
  color: #1f3a93;
}

.teamsNavbar .navHead .navTitle #navTitleIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: T;
  height: 1.5vh;
  font-size: 12.75px;
  font-weight: 600;
  color: white;
  background-color: orangered;
}

.teamsNavbar .navLogout {
  border: 2px solid orangered;
  border-radius: 20px;
  font-weight: 600;
  letter-spacing: 0.8px;
  color: orangered;
  padding: 8px 12px;
  margin: 8px 12px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.teamsNavbar .navLogout:hover {
  background-color: orangered;
  color: white;
}

.teamsHeader {
  background-color: #1f3a93;
  color: white;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px;
}

.teamsHeader .teamsHeaderContent {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 16px;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 720px) {
  .teamsHeader .teamsHeaderContent .teamsHeaderTitle {
    font-size: 37px;
  }
}

@media (min-width: 900px) {
  .teamsHeader .teamsHeaderContent .teamsHeaderTitle {
    font-size: 43px;
  }
}

@media (min-width: 1200px) {
  .teamsHeader .teamsHeaderContent .teamsHeaderTitle {
    font-size: 47px;
  }
}

.teamsHeader .teamsHeaderContent .teamsHeaderText {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.data-table {
  background-color: rgba(236, 236, 234, 0.695);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "column";
          flex-direction: "column";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.data-table .uniData {
  overflow-x: scroll;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 70rem;
  margin: 24px 40px;
}

.data-table .uniData .uniTable {
  padding: 20px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 60rem;
}

.data-table .uniData .uniTable .uniTableHead {
  background-color: #1f3a93;
}

.data-table .uniData .uniTable .uniTableHead .uniTableRowHead .uniColumn {
  font-size: 15px;
  padding: 18px 0px;
  color: white;
  font-weight: 500;
}

.data-table .uniData .uniTable .uniTableHead .uniTableRowHead .uniColumn:nth-child(1) {
  width: 7rem;
}

.data-table .uniData .uniTable .uniTableHead .uniTableRowHead .uniColumn:nth-child(2) {
  width: 17rem;
}

.data-table .uniData .uniTable .uniTableHead .uniTableRowHead .uniColumn:nth-child(3) {
  width: 8rem;
}

.data-table .uniData .uniTable .uniTableHead .uniTableRowHead .uniColumn:nth-child(4) {
  width: 10rem;
}

.data-table .uniData .uniTable .uniTableHead .uniTableRowHead .uniColumn:nth-child(5) {
  width: 20rem;
}

.data-table .uniData .uniTable .uniTableBody .uniTableRow .deleteContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.data-table .uniData .uniTable .uniTableBody .uniTableRow .deleteContainer .deleteButton {
  cursor: pointer;
  padding: 4px 10px;
  width: 50%;
  background-color: orangered;
  color: white;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 20px;
  border: 1.5px solid orangered;
  -webkit-transition: 200ms all ease;
  transition: 200ms all ease;
}

.data-table .uniData .uniTable .uniTableBody .uniTableRow .deleteContainer .deleteButton:hover {
  background-color: white;
  color: orangered;
  border: 1.5px solid orangered;
}

.data-table .uniData .uniTable .uniTableBody .uniTableRow .uniColumn {
  font-size: 13px;
  padding: 18px 0px;
}

.data-table .uniData .uniTable .uniTableBody .uniTableRow .uniColumn:nth-child(1) {
  min-width: 7rem;
}

.data-table .uniData .uniTable .uniTableBody .uniTableRow .uniColumn:nth-child(2) {
  min-width: 17rem;
}

.data-table .uniData .uniTable .uniTableBody .uniTableRow .uniColumn:nth-child(3) {
  min-width: 8rem;
}

.data-table .uniData .uniTable .uniTableBody .pagination {
  padding: 5px 15px;
  margin: 0px 10px;
}

@media (min-width: 720px) {
  .data-table .uniData {
    margin: 24px 48px;
  }
  .data-table .uniData .uniTable .uniTableHead .uniTableRowHead .uniColumn {
    font-size: 16px;
  }
  .data-table .uniData .uniTable .uniTableHead .uniTableRowHead .uniColumn:nth-child(2) {
    width: 18rem;
  }
  .data-table .uniData .uniTable .uniTableHead .uniTableRowHead .uniColumn:nth-child(3) {
    width: 9rem;
  }
}

@media (min-width: 900px) {
  .data-table .uniData {
    margin: 24px 56px;
  }
  .data-table .uniData .uniTable .uniTableHead .uniTableRowHead .uniColumn {
    font-size: 17px;
  }
  .data-table .uniData .uniTable .uniTableHead .uniTableRowHead .uniColumn:nth-child(2) {
    width: 20rem;
  }
  .data-table .uniData .uniTable .uniTableHead .uniTableRowHead .uniColumn:nth-child(3) {
    width: 10rem;
  }
  .data-table .uniData .uniTable .uniTableBody .uniTableRow .uniColumn {
    font-size: 14px;
  }
  .data-table .uniData .uniTable .uniTableBody .uniTableRow .uniColumn:nth-child(2) {
    width: 20rem;
  }
  .data-table .uniData .uniTable .uniTableBody .uniTableRow .uniColumn:nth-child(3) {
    width: 10rem;
  }
}

@media (min-width: 1200px) {
  .data-table .uniData .uniTable .uniTableHead .uniTableRowHead .uniColumn {
    font-size: 18px;
    padding: 20px 0px;
  }
  .data-table .uniData .uniTable .uniTableBody .uniTableRow .uniColumn {
    padding: 20px 0px;
    font-size: 15px;
  }
}

.midSection {
  background-color: rgba(236, 236, 234, 0.695);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.midSection .searchSection {
  height: 15rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.midSection .searchSection .searchTitle {
  font-size: 22px;
  font-weight: 400;
}

.midSection .searchSection .searchDescription {
  font-size: 15px;
}

.midSection .searchSection .globalSearch {
  margin: 0;
}

.midSection .searchSection .globalSearch .searchInput {
  margin: 0;
  border-radius: 27px;
  padding: 0 8px;
}

@media (min-width: 900px) {
  .midSection .searchSection .searchLabel {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .midSection .searchSection {
    padding: 8px 16px;
    width: 70rem;
  }
}

.uniCard .cardBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.statusActiveColor {
  background-color: #179117;
  color: white;
  font-weight: 400;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 4px 10px;
  margin: 13px 0px;
  border-radius: 14px;
  text-align: center;
}

.statusInactiveColor {
  background-color: rgba(219, 37, 37, 0.841);
  color: white;
  font-weight: 400;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 4px 10px;
  margin: 13px 0px;
  border-radius: 14px;
  text-align: center;
}

.teamsHeaderContent .teamsHeaderTitle {
  text-align: center;
}

.teamsHeaderContent .teamsHeaderText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: "row";
          flex-direction: "row";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.teamsHeaderContent .teamsHeaderText .uniLink {
  margin: 4px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.uniDesc {
  background-color: rgba(212, 212, 207, 0.695);
  height: 11rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 32px;
}

.uniDesc .uniDescTitle {
  font-size: 23px;
  font-weight: 500;
}

.uniDesc .uniDescBody {
  font-size: 15px;
  text-align: justify;
  margin-bottom: 8px;
}

@media (min-width: 720px) {
  .uniDesc {
    height: 8rem;
    padding: 16px 72px;
  }
  .uniDesc .uniDescTitle {
    font-size: 25px;
  }
}

@media (min-width: 900px) {
  .uniDesc {
    padding: 16px 64px;
  }
  .uniDesc .uniDescTitle {
    font-size: 29px;
  }
}

@media (min-width: 1200px) {
  .uniDesc {
    padding: 16px 80px;
  }
  .uniDesc .uniDescTitle {
    font-size: 32px;
  }
}

.cardsContainer {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (400px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 400px);
  padding: 48px 8px;
  background-color: rgba(236, 236, 234, 0.695);
}

.cardsContainer .uniCard {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 8px;
  padding: 16px 8px;
  width: 375px;
  -webkit-transition: 400ms all ease;
  transition: 400ms all ease;
}

.cardsContainer .uniCard:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.cardsContainer .uniCard .cardHeader {
  padding: 16px;
}

.cardsContainer .uniCard .cardHeader .cardGender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0px;
}

.cardsContainer .uniCard .cardHeader .cardGender > svg:nth-child(1) {
  font-size: 25px;
}

.cardsContainer .uniCard .cardHeader .cardGender #genderText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  font-size: 15px;
}

.cardsContainer .uniCard .cardHeader > div:nth-child(1) > div {
  font-size: 22px;
  height: 55px;
  width: 55px;
}

.cardsContainer .uniCard .cardHeader > div:nth-child(2) > span:nth-child(1) {
  font-size: 17px;
  font-weight: 400;
}

.cardsContainer .uniCard .cardBody {
  padding: 16px;
}

.cardsContainer .uniCard .cardBody .cardEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "column";
          flex-direction: "column";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
/*# sourceMappingURL=index.css.map */